{# templates/login.html #}
{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}

<h2>Список всех пользователей</h2>
<table>
    <tr>
        <th>Логин</th>
        <th>Email</th>
        <th>Имя</th>
        <th>Роль</th>
        <th class="actions">Действия</th>
    </tr>

    {% for user in users %}
    <tr>

        <th>{{ user.login }}</th>
        <th> {{ user.email }}</th>
        <th> {{ user.name }}</th>
        <th> {{ user.role.value}}</th>
        <th class="centered">
            <a href="{{ url_for('update', id=user.id) }}">
            <img src="{{ url_for('static', filename='img/edit.png') }}" alt="Редактировать" />
            Редактировать
            </a>
        </th>
    </tr>

    {% endfor %}

 </table>
    {% endblock %}



