<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <style>


    </style>
</head>
<body>
    <div class="sidebar">
        <a href="index">Главная</a>
        <a href="registry">регистрация</a>
        <a href="login">войти</a>
        <a href="#help">Помощь</a>
    </div>

    <div class="main-content">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <fieldset>
            <legend>Сообщение</legend>
            <div class="flash-messages">
                {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
                {% endfor %}
            </div>
        </fieldset>
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
    </div>
</body>
</html>