<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Войти</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
 
    <fieldset>
        <legend>Войти</legend>
        <form method="POST">
            <input type="text" name="name" placeholder="Имя">
            <input type="password" name="password" placeholder="Пароль">
            <button type="submit">Войти</button>
        </form>
     </fieldset>
 

</body>
</html>
