{# templates/registry.html #}
{% extends "base.html" %}
{% block title %}Регистрация нового пользователя{% endblock %}

{% block content %}
<fieldset>
    <legend>Регистрация нового пользователя</legend>
    <form method="POST">
        <input type="text" name="login" placeholder="login" value="{{form_data.login}}" required onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')">
        <input type="email" name="email" placeholder="Email" value="{{form_data.email}}" required onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')">
        <input type="text" name="name" placeholder="Имя" value="{{form_data.name}}" onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')">
        <input type="tel" name="phone" placeholder="Телефон" value="{{form_data.phone}}" onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')">

        {% if current_user.is_authenticated and current_user.is_admin %}
        <div class="select-container">
            <label>Роль</label>
            <select name="role">
                {% for role in roles %}
                <option value="{{ role[0] }}" >
                    {{ role[1] }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}


        <input type="password" name="password" placeholder="Пароль" required onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')">
        <button type="submit">Зарегистрировать</button>
    </form>
</fieldset>
{% endblock %}