{# templates/search_cars.html #}
{% extends "base.html" %}
{% block title %}Поиск атомобиля{% endblock %}

{% block content %}


<div class="search-form">
	<form method="Post" action="/search_cars">
		<div class="column">
			<label for="car_number">Номер автомобиля</label>
			<input type="text" id="car_number" name="car_number" placeholder="А123ВС77">

			<label for="manager_name">Менеджер</label>
			<input type="text" id="manager_name" name="manager_name" placeholder="Иванов И.И.">

			<label for="buyer_name">Покупатель</label>
			<input type="text" id="buyer_name" name="buyer_name" placeholder="Петров П.П.">

			<label for="status">Статус</label>
			<select name="status">
				<option value="">Любой</option>
				{% for st in status %}
				<option value="{{ st[0] }}" {% if form_data and form_data.status and form_data.status.name == st[0] %} selected {% endif %}>
					{{ st[1] }}
				</option>
				{% endfor %}
			</select>
		</div>
		<div class="column">
			<label for="model">Модель</label>
			<input type="text" id="model" name="model" placeholder="Toyota Camry">

			<label for="production_date">Дата производства</label>
			<input type="date" id="production_date" name="production_date">

			<label for="warehouse_date">Дата поступления</label>
			<input type="date" id="warehouse_date" name="warehouse_date">
		</div>

		<div style="clear: both; text-align: right; margin-top: 15px;">
			<button type="submit">Найти</button>
		</div>
	</form>
</div>



{% include 'includes/auto_card.html' %}


{% endblock %}
