{# templates/update_car.html #}
{% extends "base.html" %}
{% block title %}Изменить автомобиль{% endblock %}

{% block content %}
<fieldset>
	<legend>Изменить автомобиль</legend>
	<form method="POST" action="/update_car/{{ form_data.id }}">
		<input type="hidden" name="id" value="{{ form_data.id }}">
		<input type="text" name="car_number" placeholder="Номер авто" value="{{form_data.car_number}}" required onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')">
		<input type="text" name="model" placeholder="Модель авто" value="{{form_data.model}}" required onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')">
		<label>Дата произвордства</label>
		<input type="date" name="production_date" placeholder="Дата произвордства" value="{{form_data.production_date}}" required onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')"> 
		<label>Дата поступления</label>
		<input type="date" name="warehouse_date" placeholder="Дата поступления" value="{{form_data.warehouse_date}}"  onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')"> 

		<div class="select-container">
			<label>Статус</label>
			<select name="status">
				{% for st in status %}
				<option value="{{ st[0] }}" {% if form_data.status.name==st[0] %} selected {% endif %}>	
					{{ st[1] }}
				</option>
				{% endfor %}
			</select>
		</div>
		
		<div class="select-container">
			<label>Менеджер</label>
			<select name="manager_id">
				{% for manager in managers %}
				<option value="{{ manager.id }}" {% if form_data.manager_id==manager.id %} selected {% endif %}>	
					{{ manager.name }}
				</option>
				{% endfor %}
			</select>
		</div>

		<div class="select-container">
			<label>Покупатель</label>
			<select name="buyer_id">
				<option value="">Нет</option>
				{% for buer in buers %}
				<option value="{{ buer.id }}" {% if form_data.buyer_id==buer.id %} selected {% endif %}>	
					{{ buer.name }}
				</option>
				{% endfor %}
			</select>
		</div>

		<textarea name="description"  rows="3" placeholder="Введите ваш комментарий" value="{{form_data.description}}" onfocus="this.classList.add('focused')" onblur="this.classList.remove('focused')" ></textarea>
		<button type="submit">Сохранить изменения</button>
        <button type="button" onclick="confirmDelete()">Удалить</button>
	</form>
</fieldset>

<!-- Всплывающее окно подтверждения -->
<div id="deleteConfirm" class="modal">
    <div class="modal-content">
        <p>Вы уверены, что хотите удалить пользователя?</p>
        <form action="/car_delete/{{ form_data.id }}" method="POST">
            <input type="hidden" name="id" value="{{ form_data.id }}">
            <button type="submit">Да, удалить</button>
            <button type="button" onclick="closeConfirm()">Отмена</button>
        </form>
    </div>
</div>

<script>
    function confirmDelete() {
        document.getElementById('deleteConfirm').style.display = 'block';
    }

    function closeConfirm() {
        document.getElementById('deleteConfirm').style.display = 'none';
    }
</script>

{% endblock %}
