/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Стили формы */
form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* Стили полей ввода */
input, textarea {
    width: 94%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

    input:required {
        border-color: #f6c5c4;
    }

    input:focus {
        border-color: #333;
        outline: none;
    }

/* Стили кнопки */
button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background: #555;
    }

/* Стили для placeholder */
::placeholder {
    color: #999;
    opacity: 1;
}

/* Стили при фокусе на поле ввода */
.focused::placeholder {
    color: transparent;
}

/* Стили для ошибки (если нужно) */
.error {
    border-color: #f00;
}

.error-message {
    color: #f00;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 14px;
}


fieldset {
    width: 50%;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}


    fieldset.admin_panel {
        width: 100%;
        padding: 0px;
        border-radius: 0px;
    }

legend {
    width: auto;
    padding: 0 10px;
    font-weight: bold;
    color: #333;
}


.sidebar {
    width: 200px;
    background: #f1f1f1;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    .sidebar a {
        display: block;
        padding: 8px;
        text-decoration: none;
        color: #333;
    }

        .sidebar a:hover {
            background: #ddd;
        }

.main-content {
    margin-left: 240px;
    padding: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        width: 100%;
        height: auto;
    }

    .main-content {
        margin-left: 0;
    }
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    white-space: nowrap;
    background-color: #f2f2f2;
}

    th a {
        text-decoration: none;
        color: #333;
    }

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd;
}

    .centered a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
    }

    .centered img {
        margin-right: 5px;
    }

.actions {
    width: 150px;
}

table a {
    text-decoration: none;
    color: #1a0dab;
    padding: 5px;
    transition: color 0.3s;
}

    table a:hover {
        color: #f44336;
    }


/* Стили для раскрывающегося меню */
.dropdown-content {
    display: none;
    list-style: none;
    z-index: 1;
    width: 100%;
}

    .dropdown-content li {
        padding: 8px;
    }

        .dropdown-content li a {
            color: white;
        }

            .dropdown-content li a:hover {
                background-color: #414141;
            }


.dropdown:hover .dropdown-content {
    display: block;
    background-color: #292929
}

.content {
    margin-left: 220px;
    padding: 20px;
}

ul {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0;
    width: 100%;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    background-color: #f8f9fa;
}

/* Информация о пользователе */
.user-info {
    display: flex;
    align-items: center;
}

.username {
    font-weight: 500;
    font-size: 12px;
    color: #333;
    margin-right: 10px;
}



/* Кнопка выхода */
.logout-button {
    background-color: #555;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    color: white;
}

a.logout-button {
    text-decoration: none;
    color: white;
}

.logout-button:hover {
    background-color: #c82333;
}

.select-container {
    width: 100%;
    margin-bottom: 20px;
}

    .select-container select {
        width: 100%;
        padding: 15px 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
    }

        .select-container select:focus {
            border-color: #666;
            outline: none;
        }


option:checked, option:hover {
    background-color: #f2f2f2;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

    .modal-content p {
        margin-bottom: 20px;
    }

    .modal-content button {
        padding: 10px 20px;
        margin-right: 10px;
    }
/*Карточка автомобиля*/
.card {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    .card h2 {
        color: #333;
        margin-bottom: 15px;
    }

.card-info {
    display: flex;
    justify-content: space-between;
}

    .card-info div {
        flex: 1;
        margin-right: 20px;
    }

        .card-info div:last-child {
            margin-right: 0;
        }

    .card-info p {
        margin: 5px 0;
    }

.card-status {
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.status-SALE {
    background-color: #ebf9ed;
    color: black;
}

.status-SOLD {
    background-color: #fbe9e9;
    color: black;
}

.status-ZAKAZ {
    background-color: #f9f7eb;
    color: black;
}

.status-TOWRH {
    background-color: #eae9fb;
    color: black;
}

.card-description h4 {
    margin: 0px
}



.card-contacts {
    margin-top: 20px;
}

    .card-contacts h3 {
        margin-bottom: 10px;
    }

    .card-contacts p {
        margin: 5px 0;
    }







.card-comments {

}

.comment {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.comment-toggle {
    cursor: pointer;
    /*	background-color: #f8f9fa;*/
    padding: 10px;
    font: italic 14px Arial, sans-serif;
}

.comments-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: white;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font: italic 14px Arial, sans-serif;
}

.comment-date {
    color: #777;
}

.comment-text {
    padding: 10px;
    margin: 0;
}

.card-comments:target .comments-list {
    max-height: 1000px;
}


/*form address comment*/

.comment-add-button {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.comment-form {
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

    .comment-form form {
        padding: 0px;
    }


.form-group {
    margin: 10px 20px 10px 10px;
}

    .form-group textarea {
        width: 100%;
        height: 54px;
        padding: 5px;
        margin: 5px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group button {
        padding: 5px;
    }

/*    Форма поиска */

.search-form {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}

    .search-form label {
        display: block;
    }

    .search-form input {
        width: 85%;
    }

    .search-form select {
        width: 92%;
        padding: 10px;
    }


    .search-form .column {
        float: left;
        width: 48%;
    }


